body {
    margin: 0;
    /* background-image: url(multimedia/wallpapers/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; */
    background-color: #EEC384;
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logoP {
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: center;
}

/* BOTON DE LOGIN */
.botomLogin {
    border: none;
    padding: 0.5%;
    /*espacio alrededor texto*/
    background-color: #3cde02f0;
    /*color botón*/
    color: #ffffff;
    /*color texto*/
    text-decoration: none;
    /*decoración texto*/
    text-transform: uppercase;
    /*capitalización texto*/
    font-family: 'Helvetica', sans-serif;
    /*tipografía texto*/
    border-radius: 6% 20%;
    /*bordes redondos*/
}

.botomLogin:hover {
    border: none;
    /*anchura, estilo y color borde*/
    padding: 0.8%;
    /*espacio alrededor texto*/
    background-color: #1aff0076;
    /*color botón*/
    color: #ffffff;
    /*color texto*/
    text-decoration: none;
    /*decoración texto*/
    text-transform: uppercase;
    /*capitalización texto*/
    font-family: 'Helvetica', sans-serif;
    /*tipografía texto*/
    border-radius: 6% 20%;
    /*bordes redondos*/
}

/*FIN BOTON DE LOGIN */

/* VENTANA MODAL */

.pop-up {
    background: rgba(48, 48, 48, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: +4;
}

.pop-up-wrap {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 950px;
    transform: scale(0.6);
    opacity: 0;
    transition: .3s ease all;
}


.subcription::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.pop-up-title h2,
.pop-up-title p {
    z-index: 10;
    color: #fff;
}

.pop-up-title h2 {
    font-family: 'Chiller';
    font-size: 80px;
}


.pop-up-title p {
    font-size: 20px;
    font-weight: 300;
}

.subcription {
    background: #fff;
    flex-basis: 0;
    flex-grow: 2;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: center;
}

.sub-content {
    width: 100%;
}

.sub-content h2 {
    font-weight: 500;
    font-size: 40px;
    color: #1F4068;
    margin-bottom: 15px;
}

.sub-content p {
    font-weight: 500;
    color: #1bc59b;
    margin-bottom: 30px;
}

.subs-email {
    width: 100%;
    padding: 15px;
    border: none;
    background: #ccc;
    margin-bottom: 15px;
}

.subs-send {
    width: 100%;
    padding: 15px;
    border: none;
    background: #E43F5A;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: .25s ease background;
}

.subs-send:hover {
    background: #1bc59b;
}

#close {
    position: absolute;
    top: 40px;
    right: 25px;
    font-size: 25px;
    color: #c51b1b;
    cursor: pointer;
}

#close:hover {
    position: absolute;
    top: 40px;
    right: 25px;
    font-size: 25px;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 100%;
}


.pop-up.show {
    visibility: visible;
}

.pop-up-wrap.show {
    transform: scale(1);
    opacity: 1;
}

@media only screen and (max-width: 980px) {
    .pop-up-title {
        display: none;
    }

}

@media only screen and (max-width: 320px) {
    .sub-content h2 {
        font-size: 30px;
    }
}

/* ---------------------------------------- landing ---------------------------------------------- */
.landing {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctn-wrapper-landing {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(238%2c 195%2c 132%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c571.729C105.628%2c545.278%2c123.063%2c392.89%2c215.159%2c334.794C308.589%2c275.857%2c453.811%2c323.942%2c525.726%2c240.091C597.912%2c155.925%2c590.2%2c27.154%2c572.95%2c-82.378C555.839%2c-191.03%2c507.025%2c-294.162%2c429.329%2c-372.016C354.516%2c-446.982%2c254.732%2c-502.208%2c148.942%2c-507.25C51.281%2c-511.905%2c-25.851%2c-433.734%2c-116.878%2c-398.05C-197.893%2c-366.291%2c-296.972%2c-372.368%2c-356.658%2c-309.046C-416.955%2c-245.076%2c-414.574%2c-148.187%2c-433.344%2c-62.306C-453.69%2c30.789%2c-495.053%2c122.939%2c-471.237%2c215.207C-445.498%2c314.925%2c-379.823%2c401.085%2c-297.694%2c463.221C-211.725%2c528.262%2c-104.572%2c597.915%2c0%2c571.729' fill='%23e5a343'%3e%3c/path%3e%3cpath d='M1440 1130.097C1544.882 1131.054 1605.951 1009.2180000000001 1702.767 968.873 1830.08 915.8199999999999 2010.2930000000001 968.668 2092.733 858.0930000000001 2172.016 751.752 2103.308 598.342 2075.754 468.592 2049.825 346.495 2014.133 227.411 1937.825 128.632 1858.508 25.95799999999997 1756.6109999999999-58.589000000000055 1634.542-102.548 1507.922-148.14499999999998 1366.808-166.481 1239.499-122.84299999999996 1114.4850000000001-79.99199999999996 1007.371 15.344000000000051 947.254 133.03300000000002 892.481 240.26 944.296 367.09000000000003 928.275 486.425 912.468 604.168 798.57 722.543 854.005 827.615 910.156 934.044 1073.368 908.913 1180.296 964.108 1273.477 1012.207 1335.141 1129.141 1440 1130.097' fill='%23f7e3c5'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(238%2c 195%2c 132%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c406.265C105.198%2c420.184%2c215.737%2c531.962%2c304.496%2c473.805C393.547%2c415.457%2c330.406%2c267.419%2c365.378%2c166.863C395.6%2c79.964%2c498.423%2c20.873%2c493.98%2c-71.024C489.512%2c-163.436%2c394.753%2c-220.509%2c342.944%2c-297.162C282.534%2c-386.54%2c269.801%2c-537.239%2c164.145%2c-559.025C55.686%2c-581.389%2c-9.568%2c-425.524%2c-114.98%2c-391.586C-215.94%2c-359.081%2c-354.67%2c-447.63%2c-425.911%2c-369.054C-496.624%2c-291.061%2c-398.141%2c-163.568%2c-415.81%2c-59.784C-434.234%2c48.437%2c-565.862%2c138.282%2c-529.945%2c242.018C-494.843%2c343.399%2c-359.249%2c367.784%2c-256.772%2c399.545C-173.299%2c425.416%2c-86.635%2c394.802%2c0%2c406.265' fill='%23e5a343'%3e%3c/path%3e%3cpath d='M1440 1227.0839999999998C1564.334 1227.452 1680.459 1162.145 1775.313 1081.758 1862.979 1007.463 1899.732 896.185 1951.503 793.595 2005.5810000000001 686.433 2085.33 587.233 2085.442 467.199 2085.561 339.469 2029.277 218.03699999999998 1952.132 116.23500000000001 1871.583 9.940000000000055 1766.208-77.97900000000004 1639.8899999999999-120.76300000000003 1510.618-164.54700000000003 1368.143-168.82000000000005 1238.753-125.38599999999997 1111.896-82.80200000000002 1003.571 6.216000000000008 929.5450000000001 117.68900000000002 860.462 221.71800000000002 830.343 349.413 840.819 473.851 850.163 584.84 939.653 666.069 984.303 768.11 1029.934 872.392 1025.758 999.002 1105.958 1079.779 1193.472 1167.922 1315.792 1226.717 1440 1227.0839999999998' fill='%23f7e3c5'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.ctn-img-bg-1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.ctn-img-bg-1 img {
    width: 100%;
    height: 100%;
}

.ctn-img-bg-2 {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.ctn-img-bg-2 img {
    width: 100%;
    height: 100%;
}

.ctn-text-1 {
    z-index: 9;
}

.ctn-text-1 span {
    font-family: 'Krona One', sans-serif;
    color: rgba(18, 18, 18, 1);
    font-size: 51px;
    margin: 50px 0;
    letter-spacing: 5px;
    text-transform: capitalize;
}

.ctn-text-2 {
    margin: 20px 0;
    z-index: 9;
}

.ctn-text-2 span {
    font-family: 'Krona One', sans-serif;
    color: rgba(18, 18, 18, 1);
    font-size: 21px;
    margin: 50px 0;
    letter-spacing: 2px;
}

@media screen and (orientation: portrait) {
    .ctn-img-bg-1 {
        width: 200vw;
        height: auto;
    }

    .ctn-img-bg-2 {
        width: 200vw;
        height: auto;
    }

    .ctn-text-1 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ctn-text-1 span {
        font-size: 35px;
        margin: 20px 0;
        text-align: center;
        letter-spacing: 5px;
    }

    .ctn-text-2 span {
        font-size: 14px;
        margin: 20px 0;
        letter-spacing: 2px;
    }
}

/* --------------------------------- Arrow next ---------------------------------- */
.ctn-scroll {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctn-scroll span {
    text-decoration: none;
    font-size: 12px;
    font-family: 'Krona One', sans-serif;
}

.the-arrow {
    position: relative;
    display: inline-block;
    background: #121212;
    opacity: .8;
    height: 1px;
    width: 33px;
    top: -3px;
    transition: all .3s
}

.the-arrow.arrow-down {
    top: 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.the-arrow:after,
.the-arrow:before {
    opacity: 1;
    content: "";
    position: absolute;
    background: #121212;
    height: 1px;
    width: 10px;
    left: -1px;
    margin-right: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .3s
}

.the-arrow:before {
    top: -3px;
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg)
}

.the-arrow:after {
    top: 3px;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg)
}


.hero-go-next {
    cursor: pointer;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 10px;
    padding: 24px;
    color: #121212;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 7
}

.hero-go-next .the-arrow {
    top: 14px !important;
    width: 45px;
    transition: 0.5s cubic-bezier(.87, 0, .13, 1);
}

.hero-go-next .the-arrow:after,
.hero-go-next .the-arrow:before {
    top: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    transition: 0.5s cubic-bezier(.87, 0, .13, 1);
}

.hero-go-next:hover .the-arrow {
    height: 2px;
    margin-left: 5px !important;
    top: 2px !important;
    opacity: 1;
    transition: 0.5s cubic-bezier(.87, 0, .13, 1);
    width: 36px
}

.hero-go-next:hover .the-arrow:before {
    height: 2px;
    top: -3px;
    -webkit-transform: rotate(-40deg);
    transition: 0.5s cubic-bezier(.87, 0, .13, 1);
    transform: rotate(-40deg)
}

.hero-go-next:hover .the-arrow:after {
    height: 2px;
    top: 3px;
    -webkit-transform: rotate(40deg);
    transition: 0.5s cubic-bezier(.87, 0, .13, 1);
    transform: rotate(40deg)
}

/* -------------------------------------------------------------------------------- */


/* BARRA DE NAVEGACIÓN */
.header {
    position: fixed;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    z-index: 9999;
    background-color: #121212;
    border-radius: 0 0 60px 60px;
}

.men {
    position: relative;
}

.logoP {
    width: 80px;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoP img {
    width: 80px;
    height: auto;
}

.menu {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu li {
    cursor: pointer;
    transition: all .7s ease;
    padding: 20px;
    border-radius: 20px;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    display: block;
    font-family: 'Krona One', sans-serif;
    font-size: 12px;
}

.menu li a i {
    font-size: 20px;
}

.menu li:hover a,
.menu li:hover a i {
    color: #E49B30;
    transition: all .7s ease;
}

/* BARRA DE BUSQUEDA */
.containerS {
    position: relative;
    padding: 10px;
}

input {
    outline: none;
    box-sizing: border-box;
    height: 30px;
    width: 8px;
    padding: 0 10px;
    color: #000;
    border-radius: 50px;
    font-size: 20px;
    border: 1px solid #E49B30;
    transition: all .7s ease;
}

::placeholder {
    color: grey;
}

.btn {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
    background: #E49B30;
    line-height: 40px;
    border-radius: 40%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}

.btn i {
    font-size: 25px;
    color: white;
    line-height: 40px;
    transition: all .7s ease;
}

.containerS:hover input {
    transition: all .7s ease;
    width: 200px;
    padding: 20px 10px;
}

.containerS:hover i {
    transform: rotate(-360deg);
}

.btn:hover {
    background: #F3D7AE;
    transition: all .7s ease;
}


/*CATEGORIAS*/
.productos {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #EEC384;
}

.productos a {
    z-index: 999;
}

.ctn-title-prodcuts {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-products {
    position: absolute;
    top: 15%;
}

.title-products span {
    font-family: 'Krona One', sans-serif;
    font-size: 28px;
}

.producto-frutas {
    border-radius: 60px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FBFA72;
}

.producto-vegetales {
    border-radius: 60px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #B4F05E;
}

.producto-carnes {
    border-radius: 60px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F86C65;
}

.producto-lacteos {
    border-radius: 60px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FBC74E;
}

a .producto {
    margin: 0 20px;
    transition: all .5s ease;
    z-index: 999;
}

a .producto img {
    width: auto;
    height: 100px;
    border-radius: 20%;
    z-index: 999;
    transition: all .5s ease;
}

a .producto:hover {
    background-color: rgba(18, 18, 18, 0.2);
    transition: all .5s ease;
}

a .producto:hover img {
    transition: all .5s ease;
    transform: scale(0.9) rotate(45deg);
}

.ctn-frutas,
.ctn-vegetales,
.ctn-carnes,
.ctn-lacteos {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.producto .ctn-frutas img,
.producto .ctn-vegetales img,
.producto .ctn-carnes img,
.producto .ctn-lacteos img {
    position: absolute;
    width: 80px;
    height: auto;
    opacity: 0;
    transition: all .5s ease;
}

.producto:hover .ctn-frutas img:nth-child(1),
.producto:hover .ctn-vegetales img:nth-child(1),
.producto:hover .ctn-carnes img:nth-child(1),
.producto:hover .ctn-lacteos img:nth-child(1) {
    transform: translateY(-150%);
    opacity: 1;
    transition: all .5s ease;
}

.producto:hover .ctn-frutas img:nth-child(2),
.producto:hover .ctn-vegetales img:nth-child(2),
.producto:hover .ctn-carnes img:nth-child(2),
.producto:hover .ctn-lacteos img:nth-child(2) {
    transform: translateY(150%);
    opacity: 1;
    transition: all .5s ease;
}

.producto:hover .ctn-frutas img:nth-child(3),
.producto:hover .ctn-vegetales img:nth-child(3),
.producto:hover .ctn-carnes img:nth-child(3),
.producto:hover .ctn-lacteos img:nth-child(3) {
    transform: translateX(-150%);
    opacity: 1;
    transition: all .5s ease;
}

.producto:hover .ctn-frutas img:nth-child(4),
.producto:hover .ctn-vegetales img:nth-child(4),
.producto:hover .ctn-carnes img:nth-child(4),
.producto:hover .ctn-lacteos img:nth-child(4) {
    transform: translateX(150%);
    opacity: 1;
    transition: all .5s ease;
}

.ctn-button {
    position: absolute;
    bottom: 30%;
    background-color: #121212;
    padding: 20px 80px;
    border-radius: 30px;
    transition: all .5s ease;
}

.ctn-button span {
    color: #fff;
    text-decoration: none;
    font-family: 'Krona One', sans-serif;
}

.producto:hover .ctn-button {
    transform: translateY(120%);
    transition: all .5s ease;
}

.ctn-button:hover {
    background-color: #fff;
    transition: all .5s ease;
}

.ctn-button:hover span {
    color: #121212;
    transition: all .5s ease;
}

@media screen and (orientation: portrait) {
    .productos {
        height: auto;
        flex-direction: column;
        padding: 100px 0;
    }

    .ctn-frutas,
    .ctn-vegetales,
    .ctn-carnes,
    .ctn-lacteos {
        display: none;
    }


    a .producto {
        margin: 20px 20px;
    }

    .ctn-button {
        bottom: auto;
        margin-top: 60%;
    }

    .producto:hover .ctn-button {
        transform: none;
    }

    .title-products {
        top: 3%;
    }

}

/* --------------------------------------------------------------------------------- */

/* PRODUCTOS POPULARES */

.populares {
    display: grid;
    grid-template-columns: repeat(3, 15fr);
    border-style: none;
    border-radius: 5%;
    border-color: rgb(214, 249, 249);
    max-height: fit-content;
    padding: 3%;
}

.ctn-popular {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EEC384;
}

/* .bord {
    border-radius: 30px;
    border: 4px solid #EEC384;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
} */

.legend {
    color: #121212;
    font-size: 31px;
    padding: 20px;
    font-family: 'Krona One', sans-serif;
}

.productoPopu {
    width: 400px;
    height: 400px;
    margin: 10px 10px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
}

.productoPopu img {
    width: 250px;
    height: auto;
    border-radius: 30px;
    transition: all .5s ease;
}

.productoPopu:hover img {
    transform: scale(1.1);
    transition: all .5s ease;
}

.ctn-text-desc {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ctn-price {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 10px 20px;
}

.ctn-price span {
    font-family: 'Krona One', sans-serif;
    font-size: 14px;
    color: #121212;
    margin: 15px 20px;

}

.ctn-desc-product {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin: 10px 20px;
}

.ctn-desc-product span {
    font-family: 'Krona One', sans-serif;
    font-size: 14px;
    color: #121212;
    padding: 10px 0;
    margin: 15px 20px;

}

.btn-add button {
    cursor: pointer;
    background-color: #121212;
    padding: 10px 10px;
    border-radius: 30px;
    border: none;
    transition: all .5s ease;
}

.btn-add button span {
    cursor: pointer;
    color: #fff;
    background-color: #121212;
    transition: all .5s ease;
}

.btn-add button:hover,
.btn-add button:hover span {
    background-color: #fff;
    color: #121212;
    transition: all .5s ease;
}

/* -------------------------------------------------------------------------------- */
.ctn-espe-1 {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ctn-wrapper-espe {
    padding: 30px 0;
    margin: 30px 0;
}

.ctn-wrapper-espe span {
    font-family: 'Krona One', sans-serif;
    font-size: 31px;
    color: #121212;

}

.ctn-title-espe {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.espe-apartado {
    width: 100%;
    height: 100%;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.espe-apartado a img {
    width: 100vw;
    height: auto;
}

.btn-espe {

    border: 2px solid #22900c;
    /*anchura, estilo y color borde*/
    padding: 15px;
    /*espacio alrededor texto*/
    background-color: #38c443;
    /*color botÃ³n*/
    color: #ffffff;
    /*color texto*/
    text-decoration: none;
    /*decoraciÃ³n texto*/
    text-transform: uppercase;
    /*capitalizaciÃ³n texto*/
    font-family: 'Helvetica', sans-serif;
    /*tipografÃ­a texto*/
    border-radius: 6px;
    /*bordes redondos*/
    transition: background-color .5s;
    width: 10%;

}

.btn-espe:hover {
    background-color: #38e89c80;
}

.ctn-espe-2 {
    margin: 100px 0;
}

.espe-apartado-THEWUR {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.espe-apartado-THEWUR a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.espe-apartado-THEWUR a img.imgespe-rank {
    width: 300px;
    height: auto;
    margin: 0 50px;
}

.espe-apartado-THEWUR a img.imgespe-espe {
    width: 300px;
    height: auto;
    margin: 0 50px;
}

.espe-apartado-THEWUR a img.imgespe-decea {
    width: auto;
    height: 200px;
    margin: 0 50px;
}


/*Footer - pie de pagina*/

.container-footer {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1029%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c41 C 57.6%2c72 172.8%2c176.4 288%2c196 C 403.2%2c215.6 460.8%2c132.6 576%2c139 C 691.2%2c145.4 748.8%2c228.8 864%2c228 C 979.2%2c227.2 1036.8%2c152.2 1152%2c135 C 1267.2%2c117.8 1382.4%2c140.6 1440%2c142L1440 560L0 560z' fill='rgba(178%2c 255%2c 150%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c515 C 96%2c487.6 288%2c388.8 480%2c378 C 672%2c367.2 768%2c457.2 960%2c461 C 1152%2c464.8 1344%2c409.8 1440%2c397L1440 560L0 560z' fill='rgba(162%2c 255%2c 129%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1029'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    /* background: #A2FF81; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-footer footer {
    width: 100vw;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-footer footer .logo-footer {
    text-align: center;
}

.container-footer footer .logo-footer img {
    width: 100px;
}

.container-footer footer .redes-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.container-footer footer .redes-footer .icon-redes-footer {
    font-size: 20px;
    margin: 20px;
    border: 2px solid #121212;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #121212;
    text-decoration: none;
    transition: all .5s ease;
}

.container-footer footer .redes-footer a {
    text-decoration: none;
    transition: all .5s ease;
}

footer .redes-footer .fa-facebook-f:hover {
    background: #41579A;
    color: #fff;
    transition: all .5s ease;

}

footer .redes-footer .fa-tiktok:hover {
    background: #000000;
    color: #fff;
    transition: all .5s ease;

}

footer .redes-footer .fa-instagram:hover {
    background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8);
    color: #fff;
    transition: all .5s ease;
}

.columF {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 0 20px 0;
}

.paginas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.paginas a {
    font-family: 'Krona One', sans-serif;
    font-size: 14px;
    margin: 0 50px;
    color: #121212;
    transition: all .5s ease;
}

.paginas a:hover {
    color: #E49B30;
    transition: all .5s ease;
}

.ctn-derechos {
    position: absolute;
    bottom: 0;
    padding: 30px 0;
}

.ctn-derechos h4 {
    font-family: 'Krona One', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
